.table{
    text-align: center;
    display: flex;
    justify-content: center;
}
table, th, td 
        {
            border: solid 5px rgb(19, 16, 16);
            border-collapse: collapse;
            padding: 2px 3px;
        }
        th { 
            font-weight:bold;
            text-transform: capitalize;
        }